/* General */
* {
    box-sizing: border-box;
}

body {
    padding: 10px 50px 50px 50px;
    font-size: 12pt;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    margin-bottom: 30px;
}

.CodeMirrorContainer {
    border: 1px dashed #555555;
}

.debugging {
    width: 100% !important;
    overflow-x: scroll !important;;
}

pre {
    width: 100%;
    overflow-x: scroll;
}

#outputFailure {
    display: none;
}