body {
    padding: 50px;
    font-size: 12pt;
}

h1 {
    margin-bottom: 30px;
}

/* Cards with title */
.card {
    border: 1px solid #000000;
    padding: 20px 20px 20px 20px;
    position: relative;
}

.card h2 {
    position: absolute;
    top: -35px;
    background-color: #FFFFFF;
    z-index: 10;
    display: inline-block;
}

.CodeMirrorContainer {
    border: 1px dashed #555555;
}

/* Specific cards/panels */
#inputControlPanel,
#outputControlPanel {
    width: 300px;
    float: left;
}

#inputCodePanel,
#outputPlotPanel {
    margin-left: 360px;
}

#outputContainer {
    clear: both;
    margin-top: 30px;
}

#inputControlPanel,
#inputCodePanel {
    height: 350px;
}

#outputControlPanel,
#outputPlotPanel {
    height: 723px;
}


/* Generic labels / controls */
.labels {
    float: left;
    width: 35%;
    margin-right: 5%;
}

.labels label {
    display: block;
    margin-bottom: 30px;
}

.controls {
    width: 60%;
    float: right;
}


.card button {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.controls select,
.controls button,
.controls input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

/* Output and equations */
#outputText {
    text-align: center;
}
.equationSpan {
    display: inline-block;
    padding: 0 35px 0 35px;
    height: 100px;
    vertical-align: top;

}
.equationSpan i {
    font-weight: bold;
}
.equationSpan li {
    text-align: left;
}
#outputPlot {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
}

#outputPlotPanel hr {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}