#outputSuccess div {
    padding-left: 10px;
}

#outputSuccess h4 {
    display: inline-block;
    margin-bottom: 10px;
}

#outputSuccess emph {
    font-weight: bold;
    font-style: italic;
}

#outputSuccess h2 {
    margin-left: 0;
    padding-left: 0;
}