/* Tab layout https://kyusuf.com/post/completely-css-tabs/ */
/* Use flex to order display: put labels first and divs last */
.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/* Hide radio button by making it opaque and out of position */
.tabInput {
    position: absolute;
    opacity: 0;
}
/* Tab label: default style */
.tabLabel {
    order: 1; /* put first in flex container */
    padding: 20px 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    /* border */
    border: 2px solid transparent;
    border-radius: 15px 15px 0 0;
}
/* Tab label: when mouse hovers */
.tabLabel:hover {
    background: #B8B8B8;
}
/* Selected tab label has a different color */
.tabInput:checked + .tabLabel {
    background: #2B2B2B;
    color: #FFFFFF;
    /* border */
    border-color: #000000;;
    border-bottom-color: transparent;
}
/* hidden tabs */
.tab {
    width: 100%;
    order: 100;
    display: none;
    padding: 20px 30px 30px;
    background: #fff;
    border: 2px solid transparent;
}
/* visible tab */
.tabInput:checked + .tabLabel + .tab {
    display: block;
    border-color: #000000;
}
/* For smaller resolutions: use an accordion display */
@media (max-width: 1000px) {
    .tabLabel {
        width: 100%;
        border-radius: 0;
        text-align: center;
    }
    .tabInput:checked + .tabLabel {
        border-bottom-color: #000000;
    }
}